<!--
  <div class="navbar">
    <div class="navbar-inner">
      <div>
        <a class="logo brand" href="/"><img src="<%= sails.config.globals.cmx.cdadd_logo %>" alt="<%= sails.config.globals.site_title %>" title="<%= sails.config.globals.cmx.site_title %>" /></a>
        <div class="nav-collapse collapse">
          <ul class="nav">
              <li><a href="http://datamx.io/dataset">Datos</a></li>
              <li><a href="http://datamx.io/organization">Organizaciones</a></li>
              <li><a href="https://github.com/CodeandoMexico">Apps</a></li>
              <li><a href="http://www.codeandomexico.org/retos">Retos</a></li>
          </ul>
          <ul class="nav pull-right">
              <li><a href="/user/login">Iniciar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
-->

  <div class="navbar">
    <div class="navbar-inner">
      <div class="containerx">

        <a class="logo brand" href="/"><img src="<%= sails.config.globals.cmx.cdadd_logo %>" alt="<%= sails.config.globals.site_title %>" title="<%= sails.config.globals.cmx.site_title %>" /></a>

        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse">
          <ul class="nav">
              <li><a href="http://datamx.io/dataset">Datos</a></li>
              <li><a href="http://datamx.io/organization">Organizaciones</a></li>
              <li><a href="https://github.com/CodeandoMexico">Apps</a></li>
              <li><a href="http://www.codeandomexico.org/retos">Retos</a></li>
          </ul>
          <ul class="nav pull-right">
            <% if (req.session && req.session.user && req.session.user.screen_name) { %>
                <li><a href="/user/signout">Logout</a></li>
            <% } else { %>
                <li><a href="/user/signin">Iniciar sesi&oacute;n</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
