<%- partial('../intro') %>

<div class="container">
  <div class="row">
    <div class="col-md-12"> 

      <div class="panel">
        <div class="panel-body">
          <div>
            <%- partial('partials/filters_n_search') %>
          </div>

          <% if (requests.length == 0) { %>
            <div class="wide-centered-text">
              <span class="sized-font">No hay solicitudes.</span>
            </div>
          <% } else { %>
            <% for(i in requests) { %>
              <%- partial('partials/request_in_index', {request: requests[i], vote_dict: vote_dict}) %>
              <% if (i != requests.length - 1) { // no HR for last entry %>
                <hr>
              <% } %>
            <% } %>
          <% } %>

          <div class="paginator row">
            <%- partial('partials/page_buttons') %>
          </div>
        </div>
      </div>
      
    </div><!--end col-12-->
  </div>
</div>

<%- partial('partials/request_form_modal') %>
