
<div class="container">
  <div class="row actions">
    <div class="pseudo-header">
      <div class="block-pull-right">
        <button type="button" id="request-btn" class="btn btn-hollow btn-purple btn-wide" data-container="body" data-toggle="modal" data-target="#requestFormModal">
          Solicitar Datos
        </button>
      </div>
    </div>
  </div>
    <ul class="nav nav-tabs upper-tabs">
        <li class="<%= newest_li_class %>"><a href="/request/index?sort_by=newest">M&aacute;s recientes</a></li>
        <li class="<%= most_votes_li_class %>"><a href="/request/index?sort_by=most_votes">M&aacute;s votadas</a></li>
        <li class=""><a href="/request/search">Buscar</a></li>
    </ul>
  <ul class="requested-data-list">
    <% for(var i = 0; i < pd.paged_requests.length; i++) { %>
      <li>
        <%- partial('partials/request', pd.paged_requests[i]) %>
        <% if (i != pd.paged_requests.length - 1) { // no HR for last entry %>
          <hr>
        <% } %>
      </li>
    <% } %>
  </ul>
  <div class="paginator row">
    <h3>
      <% if (pd.show_prev_page_btn) { %>
        <button class="btn btn-hollow btn-purple btn-wide" onclick="location.href='/request/index?sort_by=<%= sorting_method %>&page=<%= pd.previous_page %>'">
          < p&aacute;gina <%= pd.previous_page %>
        </button>
      <% } %>
      <button class="btn btn-hollow btn-purple btn-current-page">
        <%= pd.requested_page %>
      </button>
      <% if (pd.show_next_page_btn) { %>
        <button class="btn btn-hollow btn-purple btn-wide" onclick="location.href='/request/index?sort_by=<%= sorting_method %>&page=<%= pd.next_page %>'">
          p&aacute;gina <%= pd.next_page %> >
        </button>
      <% } %>
    </h3>
  </div>
</div>

<div class="modal fade" id="requestFormModal" tabindex="-1" role="dialog" aria-labelledby="requestFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title modal-centered">
            Solicita los datos que necesites y nuestro equipo te ayudar&aacute;
          </h4>
        </div>
        <div class="modal-body">
          <%- partial('partials/requestForm.ejs') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-hollow btn-purple btn-wide modal-centered" onclick="$('#requestForm').submit()">Solicitar</button>
        </div>
      </div>
    </div>
</div>

<%- partial('partials/voteForm.ejs') %>
