<!DOCTYPE html>
<html>
  <head>
    <title>Datamx | Centro de Apertura de Datos</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Facebook meta for sharing -->
    <meta property="og:site_name" content="datamx.io - Centro de Apertura de Datos"/>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/1.cbp.css">
    <link rel="stylesheet" href="/styles/2.application.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>


  </head>

  <body class="cbp-spmenu-push">
    <img src="/images/loader.gif" class="hidden-preload">
    <div id="super-container">
      <%- partial('header') %>
      <%- partial('responsive_header') %>
      <%- partial('flash_msg') %>
      <% if (typeof req.session.user === 'undefined' || req.session.user == null) { %>
        <%- partial('you_must_login_modal') %>
      <% } %>
      <%- body %>
      <!--TEMPLATES-->
      
      <!--TEMPLATES END-->


      <!--SCRIPTS-->
      <script src="/js/dependencies/bootstrap.min.js"></script>
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/cbp.js"></script>
      <script src="/js/processVoteAjax.js"></script>
      <!--SCRIPTS END-->
      <div class="clearfooter"></div>
    </div>
    <%- partial('footer') %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46973214-8', 'auto');
      ga('send', 'pageview');
    </script> 

  </body>
</html>
