<div id="main-content-div" class="container">

  <div>
    <%- partial('partials/return') %>
  </div>

  <ul class="requested-data-list">
    <div class="container-fluid">
      <div class="user-profile-div row">
        <div>
          ¡Hola <%= req.session.user.name %>! (<a href="https://twitter.com/<%= req.session.user.screen_name%>" target="_blank">@<%= req.session.user.screen_name %></a>)
        </div>
        <div>
          <% var requests_noun = requests.length == 0 || requests.length > 1 ? 'solicitudes' : 'solicitud' %>
          <% var votes_noun = user.votes.length == 0 || user.votes.length > 1 ? 'votos' : 'voto' %>
          Has hecho <%= requests.length %> <%= requests_noun %> y has dado <%= user.votes.length %> <%= votes_noun %>.
        </div>
        <br />
        <% if (requests.length > 0) { %>
          <div>
            Tus solicitudes:
            <ul>
              <% for(i in requests) { %>
                <li>
                  <a href="/solicitud/<%= requests[i].id %>"><%= requests[i].title %></a>
                  &nbsp;
                  [<a href="/solicitud/editar/<%= requests[i].id %>">editar</a>]
                </li>
              <% } %>
            </ul>
          </div>
        <% } %>
        <br />
        <% if (user.votes.length > 0) { %>
        <div>
          Tus votos:
          <ul>
            <% for(i in user.votes) { %>
              <% if (typeof user.votes[i].title !== 'undefined') { %>
                <li><a href="/solicitud/<%= user.votes[i].id %>"><%= user.votes[i].title %></a></li>
              <% } %>
            <% } %>
          </ul>
        </div>
        <% } %>
      </div>
    </div>
  </ul>

</div>
