<div class="row">    
  <div class="col-md-12 col-sm-12 text-center">
  <% if (typeof search_term === 'undefined') { %>
    <button type="button" id="btn-populares" class="btn btn-default" onclick="location.href='/solicitudes/populares'">Populares</button>
    <button type="button" id="btn-nuevas"    class="btn btn-default" onclick="location.href='/solicitudes/nuevas'">Nuevas</button>
    <button type="button" id="btn-abiertas"  class="btn btn-default" onclick="location.href='/solicitudes/abiertas'">Abiertas</button>
    <br><br>
    <form action="/solicitudes/<%= sort_by %>/busca" method="GET">
      <input type="text" name="q" placeholder="palabras clave"></input>
    </form>
    &nbsp;<i class="glyphicon glyphicon-search"></i>
  <% } else { %>
    <button type="button" id="btn-populares" class="btn btn-default" onclick="location.href='/solicitudes/populares/busca?q=<%= search_term %>'">Populares</button>
    <button type="button" id="btn-nuevas"    class="btn btn-default" onclick="location.href='/solicitudes/nuevas/busca?q=<%= search_term %>'">Nuevas</button>
    <button type="button" id="btn-abiertas"  class="btn btn-default" onclick="location.href='/solicitudes/abiertas/busca?q=<%= search_term %>'">Abiertas</button>
    <br><br>
    <form action="/solicitudes/<%= sort_by %>/busca" method="GET">
      <input type="text" name="q" placeholder="palabras clave" value="<%= search_term %>"></input>
    </form>
    &nbsp;<a href="/"><i class="glyphicon glyphicon-remove glyphicon-remove-search"></i></a>
  <% } %>
    <br><br>
  </div>
</div>
<hr>

<script>
  var url_arr = document.URL.split('/');
  var activate_this = url_arr[4];
  var btn = document.getElementById('btn-' + activate_this);
  if (typeof btn !== 'undefined' && btn != null) {
    btn.className = btn.className + ' active';
  }
</script>
