<h3>

  <!-- Previous page button -->
  <% if (parseInt(page, 10) > 1) { %>
    <% if (typeof search_term === 'undefined') { %>
    <a href="/solicitudes/<%= sort_by %>/<%= (parseInt(page, 10) - 1) %>" class="btn btn-primary pull-left btnPrevious">
    <% } else { %>
    <a href="/solicitudes/<%= sort_by %>/busca?q=<%= search_term %>&p=<%= (parseInt(page, 10) - 1) %>" class="btn btn-primary pull-left btnPrevious">
    <% } %>
      <i class="glyphicon glyphicon-chevron-left"></i>
      p&aacute;gina <%= (parseInt(page, 10) - 1) %>
    </a>
  <% } %>

  <!-- Next page button -->
  <% if (more_pages) { %>
    <% if (typeof search_term === 'undefined') { %>
    <a href="/solicitudes/<%= sort_by %>/<%= (parseInt(page, 10) + 1) %>" class="btn btn-primary pull-right btnNext">
    <% } else { %>
    <a href="/solicitudes/<%= sort_by %>/busca?q=<%= search_term %>&p=<%= (parseInt(page, 10) + 1) %>" class="btn btn-primary pull-right btnNext">
    <% } %>
      p&aacute;gina <%= (parseInt(page, 10) + 1) %>
      <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
  <% } %>

</h3>
