<div class="container-fluid">
  <div class="requested-data row">
    <div class="col-md-1 centered-text vote">
      <%- 
        partial('vote_buttons', {
          voted     : vote_dict[request.id] && vote_dict[request.id].voted, 
          request   : request,
          logged_in : (req.session && req.session.user) || false
        })
      %>
      <%-
        partial('vote_score', {
          request : request
        })
      %>
    </div>
    <div class="requested-data-info col-md-10">
      <h3 class="title">
        <a href="/solicitud/<%= request.id %>/<%= request.slug %>"><%= request.title %></a>
        <span class="request-details">(<%= sails.config.globals.url.parse(request.url).hostname %>)</span> 
      </h3>
      <div class="request-details">
        Solicitado <%= sails.config.globals.moment(request.createdAt).fromNow() %>
        <br />
        <%-
          partial('state_badge', {
            request : request
          })
        %>
        <%-
          partial('github_badge', {
            request : request
          })
        %>
        <% if (req.session.user && req.session.user.id == request.user.id && request.state == 1) { %>
          <br />
          [<a href="/solicitud/<%= request.id %>/editar">editar</a>]
        <% } %>
      </div>
    </div>
  </div>
</div>

