<div class="container-fluid">
  <div class="requested-data row">
    <div class="col-md-1 centered-text vote">
      <% if (req.session.user) { %>
        <% if (userVotes.indexOf(request.id) > -1) { %>
          <button type="button" class="btn btn-hollow btn-red" onclick="$('#voteForm').attr('action', '/user/removeVote');$('#voteFormRequestIdInput').val('<%= request.id %>');$('#voteForm').submit()">
            -
          </button>
        <% } else { %>
          <button type="button" class="btn btn-hollow btn-green" onclick="$('#voteForm').attr('action', '/user/giveVote');$('#voteFormRequestIdInput').val('<%= request.id %>');$('#voteForm').submit()">
            +
          </button>
        <% } %>
      <% } else { %>
          <a href="#" class="btn btn-default btn-circle-vote">
            <i class="glyphicon glyphicon-thumbs-up"></i>
          </a>
      <% } %>
      <div class="vote-count">
        <%= request.voted.length %>
      </div>
    </div>
    <div class="requested-data-info col-md-10">
      <h3 class="title">
        <%= request.title %>
      </h3>
      <div class="requested-when">
        Fecha de solicitud: <%= request.createdAt %>
      </div>
    </div>
  </div>
</div>
<hr>
