<script src="/js/processVoteAjax.js"></script>

<div class="container-fluid">
  <div class="requested-data row">
    <div class="col-md-1 centered-text vote">
      <span id="vote-btns-<%= request.id %>">
        <% if (req.session.user) { %>
          <% if (!voted_by_user) { %>
            <a title="Dar mi voto" class="btn-vote btn-give-vote-unvoted" onclick="processVoteAjax(<%= request.id %>, '/user/giveVote', '<%= _csrf %>');">
              <i class="glyphicon glyphicon-chevron-up"></i>
            </a>
          <% } else { %>
            <a title="Ya has votado" class="btn-vote btn-give-vote-voted">
              <i class="glyphicon glyphicon-chevron-up"></i>
            </a>
            <a title="Quitar mi voto" class="btn-vote-small btn-remove-vote" onclick="processVoteAjax(<%= request.id %>, '/user/removeVote', '<%= _csrf %>');">
              <i class="glyphicon glyphicon-remove"></i>
            </a>
          <% } %>
        <% } else { %>
            <a title="Dar mi voto" class="btn-vote btn-give-vote-unvoted" data-toggle="modal" href="#youMustLoginModal">
              <i class="glyphicon glyphicon-chevron-up"></i>
            </a>
        <% } %>
      </span>
      <div class="vote-count">
        <% if (request.voted.length == 1) { %>
          <span id="vote-count-number-<%= request.id %>">
            1
          </span>
          <span id="vote-count-noun-<%= request.id %>">
            voto
          </span>
        <% } else { %>
          <span id="vote-count-number-<%= request.id %>">
            <%= request.voted.length %>
          </span>
          <span id="vote-count-noun-<%= request.id %>">
            votos
          </span>
        <% } %>
      </div>
    </div>
    <div class="requested-data-info col-md-10">
      <h3 class="title">
        <%= request.title %>
      </h3>
      <div class="request-details">
        Solicitado <%= sails.config.moment(request.createdAt).fromNow() %> (<%= sails.config.moment(request.createdAt).format('MMMM D YYYY, HH:mm') %>)
        <br />
        URL: <a href="<%= request.url %>" target="_blank"><%= request.url %></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="requested-data-description col-md-1"></div>
    <div class="requested-data-description col-md-10">
      <%= request.description %>
    </div>
  </div>
</div>

