<div class="container-fluid">
  <div class="requested-data row">
    <div class="col-md-1 centered-text vote">
      <%-
        partial('vote_buttons', {
          voted     : voted_by_user || false,
          request   : request,
          logged_in : (req.session && req.session.user) || false
        }) 
      %>
      <%- 
        partial('vote_score', {
          request : request
        })  
      %>
    </div>
    <div class="requested-data-info col-md-10">
      <h3 class="title">
        <%= request.title %>
      </h3>
      <div class="request-details">
        Solicitado <%= sails.config.globals.moment(request.createdAt).fromNow() %>
        &nbsp;
        (<%= sails.config.globals.moment(request.createdAt).format('MMMM D YYYY, HH:mm') %>)
        <br />
        URL: <a href="<%= request.url %>" target="_blank"><%= request.url %></a>
        <br />
        <%- 
          partial('state_badge', {
            request : request
          })
        %>
        <%-
          partial('github_badge', {
            request : request
          })
        %>
        <% if (req.session.user && req.session.user.id == request.user && request.state == 1) { %>
          <br />
          [<a href="/solicitud/<%= request.id %>/editar">editar</a>]
        <% } %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="requested-data-description col-md-1"></div>
    <div class="requested-data-description col-md-10">
      <%= request.description %>
    </div>
  </div>
</div>
