<div class="container-fluid">
  <div class="requested-data row">
    <div class="col-md-1 centered-text vote">
      <% if (req.session.user) { %>
        <%if (user_votes.indexOf(request.id) < 0) { %>
          <a title="Dar mi voto" class="btn-give-vote" onclick="$('#voteForm').attr('action', '/user/giveVote');$('#voteFormRequestIdInput').val('<%= request.id %>');$('#voteForm').submit()">
            <i class="glyphicon glyphicon-ok"></i>
          </a>
        <% } else {  %>
          <a class="btn-empty">
            <i></i>
          </a>
        <% } %>
      <% } else { %>
          <a title="Dar mi voto" class="btn-give-vote">
            <i class="glyphicon glyphicon-ok"></i>
          </a>
      <% } %>
      <div class="vote-count">
        <%= request.voted.length %>
      </div>
        <% if (user_votes.indexOf(request.id) > 0) { %>
          <a title="Quitar mi voto" class="btn-remove-vote" onclick="$('#voteForm').attr('action', '/user/removeVote');$('#voteFormRequestIdInput').val('<%= request.id %>');$('#voteForm').submit()">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        <% } else { %>
          <a class="btn-empty">
            <i></i>
          </a>
        <% } %>
    </div>
    <div class="requested-data-info col-md-10">
      <h3 class="title">
        <a href="#" data-target="#requestInfoModal" data-toggle="modal" onclick="$('#info-modal-request-title').html('<%= request.title %>');$('#info-modal-request-description').html('<%= request.description %>');"><%= request.title %></a>
      </h3>
      <div class="request-details">
        Solicitado <%= sails.config.moment.moment(request.createdAt).fromNow() %>
        <br />
        <a href="/request/view/<%= request.id %>">Liga <i class="glyphicon glyphicon-link"></i></a>
      </div>
    </div>
  </div>
</div>
