<div class="container-fluid">
  <form id="edit-form" action="/request/edit" method="POST">
    <div class="requested-data row">
      <div class="requested-data-info-edit col-md-12">
        <h3 class="title">
          <input class="edit-input" type="text" value="<%= request.title %>" name="title">
        </h3>
        <div class="request-details-edit">
          <input class="edit-input" type="text" value="<%= request.url %>" name="url">
          <br />
          Solicitado <%= sails.config.globals.moment(request.createdAt).fromNow() %> (<%= sails.config.globals.moment(request.createdAt).format('MMMM D YYYY, HH:mm') %>)
        </div>
      </div>
    </div>
    <div class="row">
      <div class="requested-data-description col-md-12">
        <textarea class="edit-textarea" name="description"><%= request.description %></textarea>
      </div>
    </div>
    <input type="hidden" name="id" value="<%= request.id %>">
    <input type="hidden" name="_csrf" value="<%= _csrf %>">
    <button class="btn btn-hollow btn-purple btn-thin" onclikc="document.getElementById('edit-form').submit()">Actualizar</button>
  </form>
</div>

