<%
  if (typeof newest_li_class === 'undefined') newest_li_class = '';
  if (typeof most_votes_li_class == 'undefined') most_votes_li_class = '';
%>
    <ul class="nav nav-tabs upper-tabs">
        <% if (typeof search_term === 'undefined') { %>
          <li class="<%= newest_li_class %>"><a href="/request/index?sort_by=newest">M&aacute;s recientes</a></li>
          <li class="<%= most_votes_li_class %>"><a href="/request/index?sort_by=most_votes">M&aacute;s votadas</a></li>
          <li class="li-search">
          <% if (show_search_bar) { %>
              <form action="/request/search" method="GET">
                <input type="text" name="q" placeholder="Buscar..."></input>
              </form>
          <% } else {  %>
                <input type="text" class="hidden-search-input"></input>
          <% } %>
          </li>
        <% } else { %>
          <li class="<%= newest_li_class %>"><a href="/request/search?sort_by=newest&q=<%= search_term %>">M&aacute;s recientes</a></li>
          <li class="<%= most_votes_li_class %>"><a href="/request/search?sort_by=most_votes&q=<%= search_term %>">M&aacute;s votadas</a></li>
          <% if (show_search_bar) { %>
            <li class="li-search">
              <form action="/request/search" method="GET">
                <a href="/"><i class="glyphicon glyphicon-remove glyphicon-remove-search"></i></a>
                <input type="text" name="q" value="<%= search_term %>"></input>
              </form>
            </li>
          <% } %>
        <% } %>
    </ul>
